.App {
 
  height: auto;
  max-width: 1200px;
  margin: 0 auto;
  position:relative;
 
}

.badge{
  position:absolute;
  right:0;
  display:inline-block;
  top:-1rem;
  padding:5rem;
  height:2rem;
  width:4rem;
  
  
}


.card-container {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap:2rem;
  row-gap:4rem;

}

.image {
  height: 250px;
}




.text-box {
  border-top: 1px solid #999;
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

